# Application name,without spaces
APP_NAME="app-name"

# False for production, true for development
DEBUG=true

# The port should we listen on
PORT=4000

# Template engine configuration
RENDERER=go

# cookie settings
COOKIE_NAME=regius
COOKIE_LIFETIME=1440
COOKIE_PERSISTS=true
COOKIE_SECURE=false
COOKIE_DOMAIN=localhost

# session store: cookie
SESSION_TYPE=cookie
